<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wireframe Card with Tailwind CSS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="bg-gray-100">
    @RenderBody()
</body>
</html>
