@page "sf"
@model Coderboard.Web.Pages.IndexModel

@{

}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Hello World</h1>

    <ul>
        @foreach (var item in Model.Data)
        {
            <li>@item.Date.ToString() : @item.Summary</li>
        }
    </ul>

</body>
</html>